@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


        body {
            background-image: url();
            background-size: cover;
            font-family: 'Dancing Script', cursive;
            font-weight: bolder;
            font-size: larger;
            
            
        }

        .cal {
            height: 80px;
            width: 80%;
            background-color: transparent;
            padding-right: 5px;
            padding-bottom: 5px;
            color: rgb(255, 255, 255);
            margin-left: 134px;


        }

        .str {
            height: 450px;
            width: 100%;
            background-color: transparent;
            margin: auto;
        }

        label {
            margin-left: 80px;
            color: rgb(0, 0, 0);

        }

        input {
            padding: 6px;
            margin-left: 70px;
            margin-top: 10px;
            width: 150px;

        }

        .eng {
            margin-left: 52px;
        }

        .isl {
            margin-left: 35px;
        }

        
        .mth {
            margin-left: 64px;
        }

        .sci {
            margin-left: 51px;
        }

        .urd {
            margin-left: 65px;
        }

        .bt {
            margin: auto;
            margin-left: 307px;
            border-radius: 4px;
            padding: 8px;

        }

        button {
            padding: 9px;
            background-color: transparent;
            color: rgb(0, 0, 0);
            border: 1px solid black;
            border-radius: 4px;
            width: 100px;
            margin-top: 7px;
            margin-left: 240px;
        }

        h1 {
            margin-top: 20px;

        }

        h3 {
            margin-left: 250px;
        }

        h4 {
           
            margin-left: 330px;
            margin-top: 61px;
            color: rgb(0, 0, 0);
           
        }
        .bbb{
            margin-bottom: -29px;
       }
       .h{
        margin-bottom: -20px;
       }